/**
* 	yellow: #F5A623;
*	black:	#212529;
*
*/

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: MarckScript;
  src: url(../fonts/MarckScript-Regular.ttf);
}
body{
	font-family: Raleway;
}
section{
	padding: 20px 0px;
}
a, a:hover{
	color: #F5A623;
}

/****** ALL FEATURES *******/
.liver-title-box{
	padding: 40px 0px;
	height: 50px;
}
.liver-color{
	color: #F5A623;
}
.liver-title{
	font-size: 52px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 20px;
}
.liver-subtitle{
	font-size: 32px;
}
.liver-marck-title{
	font-family: MarckScript;
	color: #F5A623;
	font-size: 40px;
}
.liver-line{
	letter-spacing: -2px;
	margin-left: 27px;
	margin-right: 30px;
}

/****** SLIDER *******/
section#slider{
	min-height: 400px;
	padding-top: 30px;
	background-image: url('../images/landing-slider.jpg');
	background-size: cover;
}

/****** CARD *******/
.liver-card{
	width: 100%;
	height: 285px;
	float: left;
	margin: 10px;
	padding: 45px 20px 30px;
	border: solid 2px #dadada;
}
.liver-card p{
	color: #818181;
}
.liver-card hr{
	margin: 15px 63px;
}
.liver-card .icon{
	color: #F5A623;
	padding-bottom: 10px;
}
/****** PARALLAX *******/
section#parallax{
	background-image: url('../images/study-photo.jpg');
	min-height: 270px;
    
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}
.liver-text{
	font-style: normal;
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;

    text-shadow: 2px 2px 2px #212529;
}
/****** COMPARISION *******/

.liver-list{
	list-style-type: none;
	margin: 20px 0px;
}
.liver-list li{
	padding: 10px;
}

/****** TESTIMONIALS *******/
section#testimonials{
	background-image: url('../images/background.png');
}
.liver-testimonials{
	border: 2px solid #dadada;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 10px;
	background-color: #fff;
}
.liver-testimonials p{
	padding: 10px 24px;
	color: #818181;
	margin-top: -30px;
}
.liver-testimonials .image{
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.liver-testimonials-holder .icon{
	color: #F5A623;
}
.liver-testimonials-holder{
	border-top: 2px solid #dadada;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.liver-testimonials-holder div{
	width: 19%;
	display: table-cell;
    border-right: 2px solid #dadada;
}
.liver-testimonials-holder p{
	width: 81%;
	box-sizing: border-box;
    text-align: left;
    display: table-cell;

    letter-spacing: 1px;
    color: #464646;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
}

/****** FOOTER *******/
footer{
	background-color: #212529;
	height: 100px;
	color: #fff;
	text-align: center;
}
.liver-link-social{
	color: #F5A623;
	margin: 5px;
}