/**
* 	yellow: 		#F5A623;
*	black:			#212529;
*	gray:			#818181;
*   light gray: 	#dadada;
*/

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: MarckScript;
  src: url(../fonts/MarckScript-Regular.ttf);
}
body{
	font-family: Raleway;
}
section{
	padding: 20px 0px;
}
a, a:hover{ 
	color: #F5A623;
	text-decoration: none;
}
::selection{
	color: #fff;
	background-color: #F5A623;
}

/****** ALL FEATURES *******/
.liver-title-box{
	padding: 40px 0px;
	height: 50px;
	text-transform: uppercase;
}
.liver-marck-title{
	color: #dadada;
	margin-top: 20px;
}
.liver-color{
	color: #F5A623;
}
.liver-color-gray{
	color: #b2b2b2;
}
.liver-title{
	font-size: 52px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 20px;
}
.liver-subtitle{
	font-size: 32px;
}
.liver-marck{
	font-family: MarckScript;
	color: #F5A623;
}
.liver-title-medium{
	font-size: 40px;
}
.liver-line{
	letter-spacing: -2px;
	margin-left: 27px;
	margin-right: 30px;
}
.liver-button{
	color: #464646;
	border: solid 2px #dadada;
    padding: 0;

    display: block;
	width: auto;
	min-height: 40px;
	margin: 0 63px;
}
.liver-button div{
	float: left;
    position: relative;
    padding: 6px;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}
.liver-button i{
	display: block;
	border-left: solid 2px #dadada;
}
.parallax{
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}
.liver-cutted-border{
	border-image: url('../images/border.png') 30 round;
	border-bottom: 6px solid;
}

/****** SLIDER *******/
section#slider{
	min-height: 400px;
	padding-top: 30px;
	background-image: url('../images/landing-slider.jpg');
	background-size: cover;
	background-
}

/****** CARD *******/
.liver-card{
	width: 100%;
	height: 285px;
	float: left;
	margin: 10px;
	padding: 45px 20px 30px;
	border: solid 2px #dadada;
}
.liver-card p{
	color: #818181;
}
.liver-card hr{
	margin: 15px 63px;
}
.liver-card .icon{
	color: #F5A623;
	padding-bottom: 10px;
}
/****** MESSAGE *******/
section#message{
	background-image: url('../images/study-photo.jpg');
	min-height: 270px;
}
.liver-text{
	font-style: normal;
    font-weight: 800;
    color:#fff;
    text-transform: uppercase;

    text-shadow: 2px 2px 2px #212529;
}
/****** COMPARISION *******/

.liver-list{
	list-style-type: none;
	margin: 20px 0px;
}
.liver-list li{
	padding: 10px;
}

/****** TESTIMONIALS *******/
section#testimonials{
	background-image: url('../images/background.png');
}
.liver-testimonials{
	border: 2px solid #dadada;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 10px;
	background-color: #fff;
}
.liver-testimonials p{
	padding: 10px 24px;
	color: #818181;
	margin-top: -30px;
}
.liver-testimonials .image{
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.liver-testimonials-holder .icon{
	color: #F5A623;
}
.liver-testimonials-holder{
	border-top: 2px solid #dadada;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.liver-testimonials-holder div{
	width: 19%;
	display: table-cell;
    border-right: 2px solid #dadada;
}
.liver-testimonials-holder p{
	width: 81%;
	box-sizing: border-box;
    text-align: left;
    display: table-cell;

    letter-spacing: 1px;
    color: #464646;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
}

/****** COURSES AREA *******/
.liver-courses-box{
	height: 200px;
	background-color: #212529;
	margin-top: 50px;
}
.liver-overlay{
	width: 0%;
	height: 100%;
	padding-top: 20%;
	overflow: hidden;

	background-color: #fff;

	transition: width .3s ease-in-out;
}
.liver-courses-box:hover .liver-overlay{
	width: 70%;
}
.liver-courses-box:hover .liver-overlay-zoomball{
	left: 25%;
}
.liver-overlay-zoomball{
	height: 95px;
	width: 95px;

    background-color: #F5A623;
	transition: left .18s ease-in-out;
    position: absolute;
    overflow: hidden;
    top: 5%;
    left: 12%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.48);
}
.liver-description-course{
	margin-top: 5px;
}
/****** CIRCLES AREA *******/
.liver-circle{
	border-radius: 50%;
	width: 90%;
    height: auto;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom: 40px;
}
.liver-circle:hover .liver-circle-shader{
	-webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
	transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}
.liver-circle-shader{
	background-color: #F5A623;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	border-radius: 50%;
    filter: alpha(opacity=85);
    opacity: 0;

	padding: 42% 0px;
    width: 100%;
    height: 100%;

	transform: scale(0);
}
.liver-circle-bottom-text{
	color: #818181;
}
.liver-circle-bottom-text div{
	text-transform: uppercase;
	color: #212529;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 4px;
}
.liver-circle-bottom-text hr{
	margin: 10px 66px;
    border: 1px solid #dadada;
}


/****** FOOTER *******/
footer{
	background-color: #212529;
	min-height: 100px;
	color: #fff;
	text-align: center;
}
.liver-link-social{
	color: #F5A623;
	margin: 5px;
}